body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eeeeee;
    margin: 0px;
    padding: 0px;
    color: #000050;

}
#distance {
    width: 100%;
    height: auto;
    
    position: relative;
    top: 30px;
    margin-bottom: 50px;
    
    overflow-y: auto;
    overflow-x: visible;
    
    text-align: center;
    /*border: 2px solid red;*/
}
#distance h1 {
    width: 100%;
    font-size: 60px;
    margin: auto;
    
    /*border: 2px solid green;*/
}
ul#distList-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    padding: 0; 
    margin: 0;   
    list-style-type: none;
    
    margin-bottom: 220px;
    /*Thanks to this, when scrolled to the very bottom, the final entry will appear nicely above the buttons. Woohoo!*/
}
li.distList {
    display: flex;
    height: 80px;
    justify-content: flex-start;
    align-items: flex-end;
    
    margin: 0px;
    margin-left: 40px;
    padding: 0px;
    border-bottom: 2px solid #AAAAFA;
   
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
.distList input{
    display: inline-flex;
    margin: 10px 20px;
    width: 20px;
    height: 20px;
}
.distList h3 {
    display: inline-flex;
    font-size: 35px;
    /*align-self: flex-end;*/
    padding: 0px;
    margin: 0px;
    
    margin-left: 0px;
    margin-right: auto;
}
/*.distList:hover {
    background-color: #AAAAFA
} I DON'T LIKE THE HOVERING MECHANIC CURRENTLY AND IT WON'T MATTER ON PHONES ANYWAY*/
li.matched {
    background-color: #FFCCA0;
    border-bottom: 2px solid #BB4c30;
}
/*li.matched:hover {
    background-color: #FFCCA0;
} SAME NOTE AS ABOVE ABOUT THE HOVER MECHANIC */
.matched h3 {
    text-decoration: line-through;
}
a {
    color: #000050;
    text-decoration: none;
}
a:visited {
    color: #000050;
}
a:hover, a:active {
    color: #BB4c30;
}
last-updated {
    display: inline-flex;
    /*align-self: flex-end;*/
    margin-left: auto;
    margin-right: 60px;

    text-decoration-line: none;
    opacity: 0.8;
    font-size: 16px;
}
#buttonbar {
    width: 100%;
    border-top: 3px solid #000050;
    display: flex;
    
    position: fixed;
    bottom: 0px;
    margin-top: 20px;
}
button {
    width: 50%;
    height: 200px;
    border: 1px solid #000050;
    font-size: 48px;
    /*No double outline from browser around selected button*/
    outline: none;
    
    background-color: #eeeeee;
    color: #BB4c30;
    
    /*Button changes are gradual instead of instant*/
    -webkit-transition: background-color 0.4s, color 0.4s;
    -moz-transition: background-color 0.4s, color 0.4s;
    transition: background-color 0.4s, color 0.4s;
}
button:hover {
    background-color: #FFCcA0;
}
button.active {
    background-color: #BB4c30;
    color: #eeeeee;
}
/*login-buttons {
  
}*/
@media screen and (max-width: 800px) {
    #distance h1 {
        font-size: 45px;
    }
    .distList h3 {
        font-size: 28px;
    }
    .distList input{
        margin: 10px 20px;
        width: 20px;
        height: 20px;
    }
    li.distList {
        height: 70px;
        margin-left: 20px;
    }
    last-update {
        margin-right: 30px;
    }
}

@media screen and (max-width: 600px) {
    #distance h1 {
        font-size: 26px;
    }
    .distList h3 {
        font-size: 18px;
    }
    last-updated {
        font-size: 14px;
        margin-right: 10px;
    }
    li.distList {
        height: 70px;
        margin-left: 0px;
    }
    .distList input{
        margin: 10px 10px;
    }
}